.side-bar-color {
  background: %side-bar-color% !important;
}

.side-bar-text-color, .side-bar-color:active, .sidebar-color:visited {
  color: %side-bar-text-color% !important;
}

.primary-text-color {
  color: %primary-text-color% !important;
}

.stripe-color {
  background: %stripe-color% !important;
}

.horizontal-rule-color {
  background: %horizontal-rule-color% !important;
}